.card {
  with: 100%;
  border-radius: 0px !important;
}

.card-header {
  text-align: center;
}
.card-title {
  text-align: center;
}

.btn-light {
  margin-right: 5px; 
}

.btn-light img {
  height: 25px !important;
  width: auto;
}




